<div class="container my-5">
    <h1>Créer un événement</h1>

    <%# ALERTE %>
    <% flash.each do |type, msg| %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
    <% end %>

    <% if @event.picture.attached? %>
        <%= image_tag @event.picture, alt: 'picture', class: 'card-img-top' %>
    <% end %>

    <%# FORMULAIRE %>
    <%= form_tag url_for(action: 'create'), method: "post", multipart: true do %>
        <%= file_field_tag :picture %>
        <%#<div class="form-group mt-3">
            <%#= label_tag 'Date' %>
            <%#= text_field_tag 'start_date', '', required: true, class: 'form-control' %>
        <%#</div>%>
        <div class="form-group mt-3">
            <%= label_tag 'Durée' %>
            <%= text_field_tag 'duration', '', required: true, class: 'form-control' %>
        </div>
        <div class="form-group mt-3">
            <%= label_tag 'Titre' %>
            <%= text_field_tag 'title', '', required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= label_tag 'Description' %>
            <%= text_area_tag 'description', '', required: true, class: 'form-control' %>
        </div>
        <div class="form-group mt-3">
            <%= label_tag 'Prix' %>
            <%= text_field_tag 'price', '', required: true, class: 'form-control' %>
        </div>
        <div class="form-group mt-3">
            <%= label_tag 'Lieu' %>
            <%= text_field_tag 'location', '', required: true, class: 'form-control' %>
        </div>
        <div class="form-group d-flex my-3">
            <%= submit_tag "Envoyer", class: 'btn btn-primary mr-2' %>
            <%= link_to "Accueil", events_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
</div>