<div class="container my-5">
    <div class="jumbotron">
        <h1>Dashboard</h1>
        <p class="lead">
            Bienvenue au pays des merveilles, cher(e) "<%= @user.email %>" !
        </p>
        <hr class="my-4">
        <ul class="list-group">
            <% @users.each do |u| %>
                <li class="list-group-item d-flex justify-content-between">
                    <span><%= u.email %></span>
                    <div class="btn-group" role="group">
                        <%= link_to "Voir", admin_user_path(u.id), method: "get", class: "btn btn-primary btn-sm" %>
                        <%= link_to "Editer", edit_admin_user_path(u.id), method: "get", class: "btn btn-info btn-sm" %>
                        <%= link_to "Supprimer", admin_user_path(u.id), method: "delete", class: "btn btn-danger btn-sm" %>
                    </div>
                </li>
            <% end %>
        </ul>

        <%# BOUTONS %>
        <p class="mt-3 d-flex">
            <%= link_to "Accueil", events_path, class: "btn btn-primary mr-2" %>
        </p>
    </div>
</div>