<div class="container my-5">
    <h1>Mon espace événement</h1>

    <%# LISTE des invités %>
    <ul class="list-group">
        <% current_user.organised_events.all.each do |c| %>
            <li class="list-group-item d-flex justify-content-between">
                <p>
                    <%= current_user.email %>
                    <%= ', alias ' + current_user.first_name if current_user.first_name? %>
                    <%= ' ' + current_user.last_name if current_user.last_name? %>
                </p>
                <p>
                    <%= link_to "Editer l'événement", edit_event_path(c.id), class: "btn btn-outline-success btn-sm mr-2" %>
                    <%= link_to "Supprimer l'événement", edit_event_path(c.id), class: "btn btn-outline-danger btn-sm mr-2" %>
                </p>
            </li>
        <% end %>
    </ul>

    <%# BOUTON %>
    <p class="mt-3 d-flex">
        <%= link_to "Accueil", events_path, class: "btn btn-primary mr-2" %>
    </p>
</div>
